{% extends "base.html" %}
{% block head %}
<style type="text/css">
    .profile {
        border-radius: 70px;
    }
    .hero{
         position: absolute;
         top: 100px;
         left: 30%;
         width: 768px;
         bottom: 100px;
         background: rgb(149, 215, 234, 0.9);
         margin: auto;
    }
</style>
{% endblock %}
{% block content %}
<div class="hero">
    <h1>  {{name}}  <img class="profile" src={{img}}></h1>
    {% for lane in lanes %}
        <h3>
        {% if lane == 'MIDDLE' %}
            <img width="100" height="100" src="/static/img/middle.png">
        {% elif lane == 'BOTTOM' %}
            <img width="100" height="100" src="/static/img/bottom.png">
        {% elif lane == 'UTILITY' %}
            <img width="100" height="100" src="/static/img/utility.png">
        {% elif lane == 'TOP' %}
            <img width="100" height="100" src="/static/img/top.png">
        {% elif lane == 'JUNGLE' %}
            <img width="100" height="100" src="/static/img/jungle.png">
        {% endif %}
            Винрейт: {{win_rates[lane]}}% Пикрейт: {{play_rates[lane]}}% Банрейт: {{ban_rates[lane]}}%</h3>
    {% endfor %}
</div>
{% endblock %}
