{% extends "base.html" %}
{% block head %}
<style type="text/css">
   .matches{
         position: absolute;
         top: 100px;
         left: 30%;
         width: 768px;
         bottom: 100px;
         background: rgb(149, 215, 234, 0.9);
         margin: auto;
   }
</style>
{% endblock %}
{% block content %}
<div class="matches" align="center">
   <form method="post">
        <img src="/static/img/matches_logo.png" width="768" height="545">
        <input type="text" placeholder="id матча" required name="hero">
        <input type="submit" value="♂">
   </form>
</div>
{% endblock %}