{% extends "base.html" %}
{% block head %}
<style type="text/css">
    .profile {
    border-radius: 70px;
    }
</style>
{% endblock %}
{% block content %}
<div>
    <h2>
        Информация о призывателе {{ name }} <img class="profile" src={{ profile_icon_url }} alt="No image" height="70" width="70">
    </h2>
    <h3>
        <p>
            {{ name }} - призыватель {{ level }}-го уровня
        </p>
    {% if champions %}
    <p>
        Любимые чемпионы:
        <ul>
            {% for champion in champions %}
                <li>{{ champion }}</li>
            {% endfor %}
        </ul>
    </p>
    {% else %}
    <p>
        Любимых чемпионов нет ;-(
    </p>
    {% endif %}
    <a href="/match/{{ last_match_id }}"> Последний матч </a>
    </h3>
</div>
{% endblock %}