{% extends "base.html" %}
{% block head %}
<style type="text/css">
    .profile {
        border-radius: 70px;
    }
</style>
{% endblock %}
{% block content %}
<div class="search">
    <h2>
       {{ name }} <img class="profile" src={{ profile_icon_url }} alt="No image" height="70" width="70">
    </h2>
    <h3>
    {% if champions %}
    <p>
        Чемпионы седьмого ранга:
        <ul>
            {% for champion in champions %}
                <li>{{ champion }}</li>
            {% endfor %}
        </ul>
    </p>
    {% else %}
    <p>
        Нет чемпионов седьмого ранга
    </p>
    {% endif %}
    </h3>
    <a href="/match/{{ last_match_id }}"> Последний матч </a>
</div>
{% endblock %}